
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: all 1s;
    scroll-behavior: smooth;
}
body{
background: rgb(49, 10, 10);
overflow-x: hidden;
}
.leaflet-container{
    height:400px;
    width: 500px;
    border-radius: 10px;
    transition: 3s;
}

@media screen and (max-width:600px) {
    .leaflet-container{
        height:300px;
        border-radius: 10px;
        transition: 3s;
    }
}

::-webkit-scrollbar{
    width:5px;
    background:rgb(128, 2, 2);


}
::-webkit-scrollbar-thumb{
    background: rgb(49, 10, 10);
    border-radius: 10px;
}

input[type = "number"]::-webkit-inner-spin-button{
display: none;
}